* {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

p {
  font-size: 1rem;
}

.ring-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #F57F17;
  z-index: 2000;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  letter-spacing: 4px;
  font-size: 1.25rem;
  color: #FCF8F2;
  text-transform: uppercase;
  text-shadow: 0 0 10px #FCF8F2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.ring-span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.ring-span::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FCF8F2;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #FCF8F2;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

.ring::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #FCF8F2;
  border-right: 3px solid #FCF8F2;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.superinfo-bg {
  position: fixed;
  width: 100%;
  background: #F57F17;
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
}

.superinfo {
  font-weight: 400;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.superinfo p, .superinfo a {
  margin: 0 10px 10px 10px;
  color: #FCF8F2;
}

.menu-bg {
  position: fixed;
  width: 100%;
  top: 60px;
  z-index: 100;
  background: #F9A825;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu-logo a {
  color: #FCF8F2;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 10px;
}
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-nav ul li .nav-link {
  font-size: 1.25rem;
  display: block;
  padding: 10px;
  color: #FCF8F2;
  position: relative;
}
.menu-nav ul li .nav-link::after {
  position: absolute;
  content: "";
  display: block;
  background: #FCF8F2;
  text-align: center;
  height: 3px;
  width: 0;
  bottom: 0;
  left: 50%;
  transition-duration: 0.6s;
}
.menu-nav ul li .nav-link:hover::after {
  width: 100%;
  left: 0;
}
.menu-nav ul li .nav-link.active {
  border-radius: 5px;
  background: #F57F17;
}

#btn-mobile {
  display: none;
}

.menu-number {
  background: #FCF8F2;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px 20px 10px 20px;
}

.headline-bg {
  background: #F9A825;
}

.headline {
  max-width: 960px;
  margin: 0 auto;
  padding: 154px 0 80px 0;
  display: flex;
  flex-wrap: wrap;
}
.headline-body {
  flex: 1 1 566px;
  margin: 0 10px;
}
.headline-body-title {
  color: #FCF8F2;
  margin: 20px 0;
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 900;
}
.headline-body-text {
  color: #FCF8F2;
  max-width: 85%;
}
.headline-contForm {
  flex: 1 1 364px;
  max-width: 100%;
}
.headline-form {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  padding: 20px 20px 40px 20px;
  background: #FCF8F2;
}
.headline-form-title {
  color: #F57F17;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 900;
}
.headline-form .btn {
  color: #FCF8F2;
  text-align: center;
  margin: 20px 0 20px 0;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 10px 30px;
  background: #F57F17;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.headline-form .btn:hover {
  color: #F57F17;
  background: #000;
}
.headline-form-group {
  position: relative;
}
.headline-form-group-input {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 1rem;
  transition: 0.5s;
}
.headline-form-group-label {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  text-transform: uppercase;
  transition: 0.5s;
  color: #F57F17;
  font-weight: bold;
}
.headline-form-group-input:valid ~ .headline-form-group-label, .headline-form-group-input:focus ~ .headline-form-group-label {
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65rem;
  padding: 0 10px;
  background: #FCF8F2;
  border-left: 2px solid #F57F17;
  border-right: 2px solid #F57F17;
  letter-spacing: 0.1rem;
}
.headline-form-group-input:focus {
  border: 2px solid #F57F17;
}
.headline-form-group textarea {
  width: 100%;
  resize: none;
  box-sizing: border-box;
  font-size: 1rem;
  height: 150px;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}
.headline-form-group textarea::placeholder {
  font-weight: bold;
  color: #F57F17;
}
.headline-form-group textarea:focus {
  border: 2px solid #F57F17;
}
.headline-form-group #limitMsg {
  position: absolute;
  top: 135px;
  right: 20px;
  font-size: 0.75rem;
  color: #808080;
}

.erro-geral {
  background: #F57F17;
  color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.erro-input {
  border: 1px solid #F57F17;
}

.erro {
  color: #F57F17;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}

.sucesso {
  background: #2ac874;
  color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.sobre {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sobre-container {
  margin: 0 10px;
  max-width: 460px;
  max-height: 300px;
}
.sobre-container-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
.sobre-container-title {
  margin: 40px 0 20px 30px;
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 900;
}
.sobre-container-text {
  margin-left: 30px;
  margin-bottom: 20px;
  letter-spacing: 0.1rem;
  line-height: 24px;
}

.servicos-bg {
  background: #F9A825;
}

.servicos {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 80px;
}
.servicos h2 {
  font-size: 3rem;
  line-height: 4.5rem;
  margin: 60px 0 60px 0;
  flex: 1 1 100%;
  text-align: center;
}
.servicos-vantagens {
  flex: 1 1 400px;
  margin: 0 10px 40px 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.servicos-vantagens img {
  max-width: 150px;
  max-height: 75px;
  border-radius: 5px;
}
.servicos-vantagens-body {
  flex-direction: column;
  margin-left: 20px;
}
.servicos-vantagens-body-title {
  margin-bottom: 5px;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 900;
}
.servicos-vantagens-body-text {
  width: 350px;
  max-width: 100%;
  font-size: 0.875rem;
  line-height: 24px;
}
.servicos-chamada {
  margin-top: 60px;
  flex: 1 1 100%;
  text-align: center;
}
.servicos-chamada a {
  color: #FCF8F2;
  margin-bottom: 20px;
  font-size: 1.25rem;
  font-weight: 900;
  padding: 10px 40px;
  background: #F57F17;
  border-radius: 5px;
}

.faq {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 60px 100px 80px 100px;
}
.faq-title {
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 900;
  margin-bottom: 50px;
}
.faq-acordion {
  max-width: 100%;
}
.faq-acordion-content {
  position: relative;
  margin: 10px 20px;
}
.faq-acordion-content-label {
  position: relative;
  padding: 10px;
  background: #F57F17;
  color: #FCF8F2;
  cursor: pointer;
  border-radius: 5px;
  padding: 15px 0 15px 30px;
}
.faq-acordion-content-label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  font-weight: bold;
}
.faq-acordion-content.active .faq-acordion-content-label::before {
  content: "-";
}
.faq-acordion-content-text {
  position: relative;
  background: #F9A825;
  color: #FCF8F2;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
.faq-acordion-content.active .faq-acordion-content-text {
  height: 150px;
  padding: 20px;
}

.chamada-bg {
  background: #F9A825;
}

.chamada {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 80px 10px 80px 10px;
}
.chamada-text {
  flex: 1 1 460px;
  max-width: 100%;
  max-height: 100%;
  padding: 50px 60px 0 10px;
}
.chamada-text h2 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 20px;
  color: #FCF8F2;
}
.chamada-text p {
  font-size: 1.125rem;
}
.chamada-acao {
  border-radius: 5px;
  background: #fff;
  padding: 40px 60px 40px 60px;
  flex: 1 1 460px;
  text-align: center;
}
.chamada-acao-descricao {
  margin-bottom: 40px;
}
.chamada-acao-btn {
  color: #FCF8F2;
  font-size: 1.25rem;
  font-weight: 900;
  padding: 10px 80px;
  background: #F57F17;
  border-radius: 5px;
}
.chamada-acao-contato {
  padding: 0 10px 0 10px;
  font-size: 0.825rem;
  margin-top: 20px;
}

.footer-bg {
  background: #F57F17;
}

.footer {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.footer-direitos {
  text-align: center;
  flex: 1 1 100%;
  margin-bottom: 15px;
}
.footer-termos {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

@media screen and (max-width: 980px) {
  .headline-body {
    width: 960px;
    max-width: 100%;
    flex: 1 1 45%;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .headline-body-title {
    font-size: 2.25rem;
    line-height: 3.375rem;
  }
  .headline-contForm {
    flex: 1 1 35%;
  }
  .headline-form {
    padding: 20px 20px 20px 20px;
  }
  .headline-form-title {
    font-size: 1.5rem;
  }
  .headline-form a {
    font-size: 1.25rem;
  }
  .sobre-container {
    max-width: 330px;
  }
  .servicos h2 {
    margin: 60px 0 30px 0;
  }
  .servicos-vantagens-body-text {
    width: 600px;
  }
  .servicos-chamada {
    margin-top: 30px;
  }
  .faq-acordion-content-label {
    padding: 15px 60px 15px 30px;
  }
  .chamada-text {
    flex: 1 1 340px;
  }
  .chamada-text h2 {
    font-size: 2.25rem;
  }
  .chamada-acao {
    flex: 1 1 340px;
    padding: 40px 30px 40px 30px;
  }
  .chamada-acao-btn {
    padding: 10px 40px;
  }
}
@media screen and (max-width: 720px) {
  .headline-body {
    flex: 1 1 45%;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .headline-body-title {
    font-size: 1.75rem;
    line-height: 2.625rem;
  }
  .headline-form-title {
    font-size: 1.25rem;
  }
  .headline-form a {
    font-size: 1rem;
  }
  .headline-form-group textarea {
    height: 100px;
  }
  .headline-form-group textarea::placeholder {
    font-size: 0.75rem;
  }
  .headline-form-group-label {
    font-size: 0.75rem;
  }
  .headline-form-group #limitMsg {
    top: 80px;
  }
  .sobre {
    justify-content: space-around;
  }
  .sobre-container {
    width: 300px;
  }
  .sobre-container-title {
    margin: 0 auto;
    font-size: 1.75rem;
  }
  .sobre-container-text {
    margin: 0 auto;
  }
  .servicos-vantagens-body-text {
    width: 400px;
  }
  .faq {
    padding: 60px 50px 80px 50px;
  }
  .faq-title {
    font-size: 1.75rem;
  }
  .chamada {
    padding: 40px 10px 40px 10px;
  }
  .chamada-text {
    flex: 1 1 250px;
    padding: 10px 60px 0 10px;
  }
  .chamada-acao {
    flex: 1 1 250px;
    padding: 40px 10px 40px 10px;
  }
  .chamada-acao-btn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 560px) {
  .superinfo a {
    display: none;
  }
  #menu-link {
    display: block;
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0;
    height: 0;
    transition: 0.6s;
    z-index: 1001;
    visibility: hidden;
    overflow-y: hidden;
  }
  .menu-nav.active #menu-link {
    height: 200px;
    visibility: visible;
    overflow-y: auto;
  }
  #btn-mobile {
    margin-right: 10px;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background: #F9A825;
  }
  #hamburguer {
    display: block;
    border-top: 2px solid;
    width: 20px;
    color: #FCF8F2;
  }
  #hamburguer::after, #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background: currentColor;
    transition: 0.3s;
    position: relative;
  }
  .menu-nav.active #hamburguer {
    border-top-color: transparent;
  }
  .menu-nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  .menu-nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .menu-nav ul li .nav-link.active {
    border-radius: 0;
    background: #F9A825;
  }
  .nav-link {
    background: #F9A825;
  }
  .headline {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headline-body {
    width: 400px;
    margin: 0 auto;
  }
  .headline-body-title, .headline-body-text {
    max-width: 100%;
    margin-left: 10px;
  }
  .headline-contForm {
    width: 400px;
    margin: 20px auto;
    padding-left: 10px;
  }
  .servicos h2 {
    font-size: 1.75rem;
  }
  .servicos-vantagens-body-text {
    width: 100%;
  }
  .chamada {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .chamada-text {
    flex: 1 1 100%;
    margin-bottom: 40px;
    text-align: center;
    padding: 10px 0 0 10px;
  }
  .chamada-text h2 {
    font-size: 1.75rem;
  }
  .chamada-text p {
    font-size: 1rem;
  }
  .chamada-acao {
    flex: 1 1 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
