@import url(style.css);
@import url(fonts.css);

/* Accordion */

details {
  background: var(--coffe-color);
  border: 3px solid var(--latte-color);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 20px;
  text-align: left;
}
details > summary {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 1rem;
  justify-content: space-between;
}
details[open] > summary {
  margin-bottom: 1rem;
}
details > summary::after {
  content: url(img/arrow-down.png);
  display: block;
  text-align: center;
  transform: scale(0.3);
  transition: all ease-in-out 0.5s;
}
details[open] > summary::after {
  rotate: 180deg;
}