details {
  background: var(--coffe-color);
  border: 3px solid var(--latte-color);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 20px;
  text-align: left;

  & > summary {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 1rem;
    justify-content: space-between;

    &::after {
      content: url(img/arrow-down.png);
      display: block;
      text-align: center;
      transform: scale(0.3);
      transition: all ease-in-out 0.5s;
    }
  }

  &[open] > summary {
    margin-bottom: 1rem;

    &::after {
      rotate: 180deg;
    }
  }
}