@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url(fonts.css);
:root {
  --brewed-color: #6d6a4c;
  --cappuccino-color: #43402d;
  --coffe-color: #212017;
  --latte-color: #625439;
  --text-color: #fff2d9;
}
* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html,
body {
  background-color: var(--coffe-color);
  color: var(--text-color)!important;
  font-family: "Roboto Serif", serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  padding: 0 10px;
}

/* Button */
a.btn,
button.btn {
  align-items: center;
  background-color: var(--latte-color);
  border-radius: 5px;
  color: var(--text-color);
  outline: none;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Navbar */
nav {
  padding: 15px 0;
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

/* HERO-Section-Inicio */
.background-coffe {
  background: url("img/background-coffe.png") no-repeat center;
  background-size: cover;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  gap: 6rem;
}
.hero article,
.hero aside {
  width: 100%;
}

.hero article {
  text-align: center;
}

@media (min-width: 900px) {
  .container {
    width: 100%;
    padding: 0 120px;
  }
  .hero {
    display: flex;
    flex-direction: row;
    padding: 3rem 0;
  }
  .hero article,
  .hero aside {
    width: 50%;
  }
  .hero article {
    text-align: start;
  }
}

/* Formulario */
.formulario-section {
  display: flex;
  justify-content: center;
}
.formulario {
  background-color: var(--cappuccino-color);
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  width: 100%;
}

::placeholder {
  color: #515151;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.formulario form button {
  text-transform: uppercase;
  width: 100%;
  margin-top: 5px;
}

.formulario form ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin: 8px 0;
}

.formulario form ul li label {
  width: 100%;
}

.formulario form ul li input {
  color: var(--text-color);
  background-color: var(--coffe-color);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.formulario form ul li input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--coffe-color) inset;
  -webkit-text-fill-color: var(--text-color) !important;
}

.formulario form ul li textarea {
  color: var(--text-color);
  background-color: var(--coffe-color);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  height: 25vh;
  resize: none;
}

@media (min-width: 900px) {
  .formulario {
    max-width: 85%;
  }
}

/* Sobre-Section */

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem 10px;
  gap: 3rem;
}
.sobre .imagem-plantacao,
.sobre article {
  width: 100%;
}

@media (min-width: 900px) {
  .sobre {
    display: flex;
    flex-direction: row-reverse;
    padding: 7rem;
  }
  .sobre p {
    text-align: left;
  }
  .sobre article {
    width: 50%;
    padding: 1.5rem;
  }
}

/* Beneficios */
.beneficios {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1rem 0;
  gap: 3rem;
}
.flex-itens {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.itens img {
  width: 64px;
}
.itens p {
  text-align: left;
}
@media (min-width: 900px) {
  .flex-itens {
    display: flex;
    flex-direction: row;
  }
  .itens {
    display: flex;
    flex-direction: column;
    width: 33%;
  }
  .itens img {
    width: 86px;
  }
}

/* Perguntas */
.perguntas {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 7rem 0;
  gap: 3rem;
}

/* callToAction */
.chamada {
  margin: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.chamada article,
.chamada aside {
  width: 100%;
}

.callToAction {
  background-color: var(--cappuccino-color);
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 15px;
}

.callToAction a {
  text-align: center;
}

@media (min-width: 900px) {
  .chamada {
    margin: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  .chamada article {
    justify-content: left;
    text-align: left;
  }
  .chamada article,
  .chamada aside {
    width: 50%;
    padding: 4.6rem;
  }
  .chamada aside {
    padding: 1rem;
  }
}

/* Footer */
.footer {
  padding: 1rem 0;
  line-height: 5rem;
  text-align: center;
}

/* Detalhes */
.imagem-plantacao {
  width: 100%;
  border: 5px solid var(--brewed-color);
  border-radius: 5px;
}

.divisor {
  display: flex;
  position: relative;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.divisor img {
  width: 1.6rem;
}

.divisor::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: var(--latte-color);
  border-radius: 5px;
}

.divisor::before {
  content: "";
  width: 30%;
  height: 2px;
  background-color: var(--latte-color);
  border-radius: 5px;
}

/* Responsive midia */
